:root {
  --color-main: #e50914;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ubuntu sans-serif;
  font-size: 1.6rem;
  color: black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

svg {
  fill: none;
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5;
  stroke: #555;
  margin: 0.25rem;
}

ul {
  list-style: none;
}

.blur {
  text-decoration: line-through;
}

/* NAVBAR */

nav {
  background-color: #e50914;
  height: 60px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  background-color: #efe3e3;
  outline: none;
  height: 80%;
  padding: 10px;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

select {
  height: 50px;
  width: 100px;
  outline: none;
  background-color: #dc8085;
}

.filter {
  align-self: center;
  margin-bottom: 30px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

svg {
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 0px 10px;
}

.pagination {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;

  font-size: 32px;
}
